@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
:root {
    --cor-principal: #6b0002; /*  Define a variável de cor --cor-primaria com o valor #*****  */
    --cor-secundaria: black;
    --cor-terciaria: #fafafa;
    --animações1: #6b0002;
    --bordas: #fff;
  }

  @keyframes surgir1{
    0%{
        transform: translateY(20%);
        color: transparent !important;
        opacity: 0;

    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: row-reverse;
}
.background1{
    background-image: linear-gradient(rgba(0,0,0,9),transparent), url('/img/barbearialogo.jpg');
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}
nav{
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent; /* Define a cor de fundo transparente */
    backdrop-filter: blur(20px); /* Aplica o efeito de desfoque */
    -webkit-backdrop-filter: blur(5px); /* Versão para navegadores com prefixo webkit */
    position: fixed;
    z-index: 999;  
    top: 0;
    left: 0;
}
.logo{
    width: 60px;
    cursor: pointer;
    padding: 5px 10px;
}
.cart-icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
nav ul li{
    list-style: none;
    margin: 10px 30px;
    text-align: left;
}
nav a{
    color: #fff;
    text-decoration: none;
    position: relative;
}
/*Animação navbar*/
nav  a:after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--animações1);
    transition: width 0.6s;
}
nav a:hover::after{
    width: 65%;
}
#loginicone{
    position: fixed;
    right: 100px;
}
.separadordecontainer{
    width: 100%;
    height: 5px;
    background-color: var(--cor-secundaria);
}
/*se quiser centralizr ellemento filho no .container só joga grid no class pai e place itens no filho*/
.background1 .backtxt{
    animation: surgir1 2s;
    padding: 170px 60px 0px 0px;
    text-align: end;
}
.background1 .backtxt p{
    color: #fff;
    font-size: 20px;
    text-align: end;
}
.background1 .backtxt h1{
    font-size: 90px;
    -webkit-text-stroke: 1px #fff;  /*deixa a letra só com a borda*/
    color: transparent;
}
.background1 .backtxt span{
    color: var(--cor-principal);
    -webkit-text-stroke: 1px var(--cor-principal);  /*deixa a letra só com a borda*/
}



/*Serviços*/
.parallax1{
    background-image: linear-gradient(transparent, rgba(0,0,0,7)), url('../img/papel-de-parede-de-barbeiro-fundo-de-marmore-preto.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.localizacao{
    background-color: #72727286;
    color: var(--cor-terciaria);
    border-radius: 25px;
    height: 35vw;
    width: 55vw;
}
.localizacao h1{
    font-size: 60px;
    text-align: center;
    padding: 5% 0 12% 0;
}
.precos{
    display: grid; 
    place-items: center;
}
#centralizardiveimg #img1{
    position: absolute;
    margin-left: 54vw;
    height: 35vw;
}
#centralizardiveimg #img2{
    position: absolute;
    margin-right: 54vw;
    height: 35vw;
}
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40vw;
    height: 10vw;
  }
  
  td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 12px;
  }
  
  tr:nth-child(even) {
    background-color: #adadad;
  }





/*Equipe*/
.background2{
    background-color: var(--cor-principal);
    width: 100%;
    height: 100vh;
}

  @media (max-width: 730px) {
    h1{
        font-size: 30px;
    }
  }