<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel do Administrador</title>
</head>
<body>
    <nav>
        <a href="/indexadmin"><img src="/img/png-transparent-barbershop-sign (1).png" alt="" class="logo"></a>
            <li id="/"><a href="/">Sair</a></li>
        <ul>
            <li><a href="/gerenciamentoagendamento">Agendamento</a></li>
            <li><a href="/gerenciamentoequipe">Equipe</a></li>
            <li><a href="/gerenciamentousuarios">Usuarios</a></li>
        </ul>
    </nav>
    <h2>Bem-vindo, Administrador!</h2>
    
</body>
</html>
