<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Painel do Administrador</title>
</head>
<body class="index2">
        <a href="/logout"><p class="logofixado logo"> Sair </p></a>
    <nav>
            <li class="tiraanimacao"><a  href="/">Gerenciamento de</a></li>
        <ul>
            <li><a href="/gerenciamentoagendamento">Agendamento</a></li>
            <li><a href="/gerenciamentoequipe">Equipe</a></li>
            <li><a href="/gerenciamentousuarios">Usuários</a></li>
            <li><a href="/gerenciamentoservicos">Serviços</a></li>
        </ul>
    </nav>
    
</body>
</html>
