<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Agendamento de Serviço</title>

    <script>
        function mudarData() {
            const dataInput = document.getElementById('data');
            const dataSelecionada = dataInput.value;
            window.location.href = `/agendamentocliente?data=${dataSelecionada}`;
        }
    </script>
</head>
<body>
    <!-------navbar e escrita--------->
    <div class="background1">

        <nav>
            <a href="/indexcliente"><img src="{{ url_for('static', filename='/img/png-transparent-barbershop-sign (1).png') }}" alt="" class="logo "></a>
            <p id="loginicone"><a href="/indexcliente" id="margindireita">Sair</a><a href="/meus_agendamentos">Conta</a></p>
            <ul>
                <li><a href="/indexcliente">Serviços</a></li>
            </ul>
        </nav>
        <div class="logins" style="margin-top: 15vh;">
            <h2>Agendamento de Serviço</h2>

            <form action="/agendamentocliente" method="POST">
                <label for="equipe_id">Selecione o Profissional:</label>
                <select id="equipe_id" name="equipe_id" required>
                    {% for membro in equipe %}
                    <option value="{{ membro.equipe_id }}">{{ membro.nome }}</option>
                    {% endfor %}
                </select>
                <br>

                <label for="servicos_id">Selecione o Serviço:</label>
                <select id="servicos_id" name="servicos_id" required>
                    {% for servico in servicos %}
                    <option value="{{ servico.servicos_id }}">{{ servico.nome }}</option>
                    {% endfor %}
                </select>
                <br>

                <label for="data">Selecione a Data:</label>
                <input type="date" id="data" name="data" value="{{ data_selecionada }}" onchange="mudarData()" required>
                <br>

                <label for="horario">Selecione o Horário:</label>
                <select id="horario" name="data_hora" required>
                    {% for horario in horarios_disponiveis %}
                    <option value="{{ data_selecionada }}T{{ horario }}">{{ horario }}</option>
                    {% endfor %}
                </select>
                
                <br>

                <button type="submit">Agendar</button>
            </form>
        </div>
    </div>
</body>
</html>
