<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Agendamentos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="meusagendamentos">
    <h1>Meus Agendamentos</h1>

    {% if agendamentos %}
        <table>
            <thead>
                <tr>
                    <th>Data e Hora</th>
                    <th>Serviço</th>
                    <th>Equipe</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for agendamento in agendamentos %}
                    <tr>
                        <td>{{ agendamento['data_hora'] }}</td>
                        <td>{{ agendamento['servico_nome'] }}</td>
                        <td>{{ agendamento['equipe_nome'] }}</td>
                        <td>{{ agendamento['status'] }}</td>
                        <td>
                            {% if agendamento['status'] != 'cancelado' %}
                                <form action="{{ url_for('cancelar_agendamento', agendamento_id=agendamento['agendamento_id']) }}" method="POST">
                                    <button type="submit">Cancelar</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Você ainda não tem agendamentos.</p>
    {% endif %}

    <a href="/indexcliente">Voltar para a página inicial</a>
    <p>não é permitido o cancelamento até 24 horas antes do horario marcado</p>
</body>
</html>
